.venv/
__pycache__/
*.pyc
*.db
# Ignore các file lớn
*.exe
*.jsonl
# Hoặc cụ thể hơn nếu cần:
w3/d1/w3-d1-pack/data/access_log.jsonl
w3/d1/w3-d1-pack/data/frontend_rum.jsonl
w3/d1/w3-d1-pack/promtool.exe